<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Proyectos</h1>
      <small class="text-muted">Lista de proyectos en SiAs</small>
    </div>
  </div>
</div>
<div class ="wrapper-md ng-scope" ng-scope="consultaProyectoCtrl">
  <div class ="col" >
    <div class ="row">
      <div class="col-sm-12">
        <div class="panel panel-default" ng-show="!consultando">
          <div class="panel-heading">
            Lista Proyectos
          </div>
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width:20px;">

                  </th>
                  <th>Nombre</th>
                  <th>Número de módulos</th>
                  <th></th>
                  <th></th>
                  <th style="width:30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="proyecto in listaproyectos">
                  <td>
                   
                  </td>
                  <td>{{ proyecto.pro_nombre }}</td>
                  <td>{{ proyecto.pro_modulos }}</td>
                  <td><button class="btn btn-primary btn-addon" ng-click="subsistemas(proyecto)"><i class="fa fa-tasks"></i>Subsistemas</button></td>
                  <td><button class="btn btn-primary btn-addon" ng-click="consulta(proyecto)"><i class="fa fa-tasks"></i>Consultar Informacion</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
            </div>
          </footer>
        </div>
        
      <div class="panel" ng-show="consultando">
          <div class="wrapper-lg">
            <h2 class="m-t-none" ng-bind='proyectoFocus.pro_nombre'></h2>
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. 
              </p>
              <h3>Html5 and CSS3</h3>
              <p>
              Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted">
              <i class="fa fa-user text-muted"></i> por <a href class="m-r-sm">{{autor}}</a>
              <i class="fa fa-clock-o text-muted"></i> {{fecha}}
              
            </div>
            <div style="margin-top: 20px;">
              <button class="btn m-b-xs w-xs btn-dark" ng-click='cerrar()'>Cerrar</button>
            </div>
            
          </div>

        </div>
  </div>
</div>
</div>
</div>