<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Proyectos</h1>
      <small class="text-muted">Lista de proyectos en SiAs</small>
    </div>
  </div>
</div>
<div class ="wrapper-md ng-scope" ng-scope="consultaProyectoCtrl">
  <div class ="col" >
    <div class ="row">
      <div class="col-sm-12">
        <div class="panel panel-default" ng-show="!consultando">
          <div class="panel-heading">
            Lista Proyectos
          </div>
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width:20px;">

                  </th>
                  <th>Titulo</th>
                  <th>Titulo Largo</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th style="width:30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="proyecto in listaproyectos">
                  <td>
                   
                  </td>
                  <td>{{ proyecto.pro_nombre }}</td>
                  <td>{{ proyecto.pro_nombrelargo }}</td>
                  <td><button class="btn btn-primary btn-addon" ng-click="subsistemas(proyecto)"><i class="fa fa-tasks"></i>Subsistemas</button></td>
                  <td><button class="btn btn-primary btn-addon" ng-click="consulta(proyecto)"><i class="fa fa-tasks"></i>Consultar Informacion</button></td>
                  <td><button class="btn btn-primary btn-addon" ng-click="representaciones(proyecto)"><i class="fa fa-tasks"></i>Representaciones</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
            </div>
          </footer>
        </div>
        
      <div class="panel" ng-show="consultando">
          <div class="wrapper-lg">
            <h2 class="m-t-none" ng-bind='proyectoFocus.pro_nombre'></h2>
            <small class="m-l-xxl" ng-bind='proyectoFocus.pro_nombrelargo'></small>
            <div>
              <h3 ng-if="proyectoFocus.pro_descripcion != null">Descripcion</h3>
              <p ng-if="proyectoFocus.pro_descripcion != null" ng-bind-html="getHtml(proyectoFocus.pro_descripcion)">
              </p>
              <h3 ng-if="proyectoFocus.pro_problema != null">Problema</h3>
              <p ng-if="proyectoFocus.pro_problema != null" ng-bind-html="getHtml(proyectoFocus.pro_problema)">
              </p>
              <h3 ng-if="proyectoFocus.pro_preguntas != null">Preguntas</h3>
              <p ng-if="proyectoFocus.pro_preguntas != null" ng-bind-html="getHtml(proyectoFocus.pro_preguntas)">
              </p>
              <h3 ng-if="proyectoFocus.pro_objetodeconocimiento != null">Objeto de conocimiento</h3>
              <p ng-if="proyectoFocus.pro_objetodeconocimiento != null" ng-bind-html="getHtml(proyectoFocus.pro_objetodeconocimiento)">
              </p>
              <h3 ng-if="proyectoFocus.pro_complejoempirico != null">Complejo Empirico</h3>
              <p ng-if="proyectoFocus.pro_complejoempirico != null" ng-bind-html="getHtml(proyectoFocus.pro_complejoempirico)">
              </p>
              <h3 ng-if="proyectoFocus.pro_complejocognocitivo != null">Complejo Cognocitivo</h3>
              <p ng-if="proyectoFocus.pro_complejocognocitivo != null" ng-bind-html="getHtml(proyectoFocus.pro_complejocognocitivo)">
              </p>
              <h3 ng-if="proyectoFocus.pro_otrainformacion != null">Otra Informacion</h3>
              <p ng-if="proyectoFocus.pro_otrainformacion != null" ng-bind-html="getHtml(proyectoFocus.pro_otrainformacion)">
              </p>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted">
              <i class="fa fa-user text-muted"></i> por <a href class="m-r-sm">{{autor}}</a>
              <i class="fa fa-clock-o text-muted"></i> {{fecha}}
              
            </div>
            <div style="margin-top: 20px;">
              <button class="btn m-b-xs w-xs btn-dark" ng-click='cerrar()'>Cerrar</button>
            </div>
            
          </div>

        </div>
  </div>
</div>
</div>
</div>