<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Undades de informacion</h1>
      <small class="text-muted">Lista de unidades de informacion, Registrar, Editar y Eliminar</small>
    </div>
    <div class="col-sm-9 col-xs-12">
      <button class="btn btn-primary btn-addon btn-lg" ng-click="showregistro()" ><i class="fa fa-plus"></i>Nueva Unidad de informacion</button>
    </div>

  </div>
</div>
<div class ="wrapper-md ng-scope" ng-scope="unidadInformacionCtrl">

  <div class ="col" >


    <div class ="row">
      <div class="col-sm-12">
        <div class="panel panel-default" ng-show="!registro && !editando">
          <div class="panel-heading">
            Lista Unidades de informacion
          </div>
          <!--
          <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">
              <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Buscar">
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-default" type="button">Ir!</button>
                </span>
              </div>          
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-5">
  
            </div>
          </div>
          -->
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width:20px;">

                  </th>
                  <th>idUnidad</th>
                  
                  <th style="width:30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="unidad in listaunidades">
                  <td>
                    <div class="btn-group dropdown">
                      <button class="btn btn-info dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-arrow-right"> </i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="" ng-click="editar(unidad)"><i class="icon-wrench" ></i> Editar</a></li>
                        <li><a href="" ng-click="borrar(unidad)"><i class="icon-close" ></i> Borrar</a></li>
                      </ul>
                    </div>
                  </td>
                  <td>{{ unidad.idunidad }}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">



            </div>
          </footer>
        </div>
        <div class="panel panel-default" ng-show="registro">
          <div class="panel-heading font-bold">Registro de la Unidad de informacion</div>
          <div class="panel-body">
          <!-- tab -->
          <div>
          <form class="bs-example form-horizontal ng-pristine ng-valid" name="form" novalidate>
            <div class="row" ng-show="form.$invalid">
              <div class="col-lg-6">
                <div class="m-b-md">
                  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
              </div>
            </div>
            <tabset class="tab-container">
              <tab ng-repeat = "subsistema in arraysSubsistemas" heading="{{subsistema.nombre}}" >
                <div class="form-group" ng-repeat = "variable in subsistema.data">
                  <label class="col-lg-2 control-label ">{{variable.nombre}}</label>
                  <div class="col-lg-3">
                    <input class="form-control" ng-model="variable.valueSelected" ng-pattern="/^[0-9]{0,1}$/" />
                  </div>
                </div>
              </tab>
              <tab heading="Variables Independientes" >
                 <div class="form-group" ng-repeat="variable in listavariablesindependientes">
                    <label class="col-lg-2 control-label ">{{variable.varind_nombre}}</label>
                    
                      <div class="col-lg-4">
                        <select ng-model="variable.valueSelected" class="form-control m-b" >
                          
                          <option ng-repeat="var in variable.varind_valores track by $index" 
                                  value="{{var}}">
                            {{var}}
                          </option>

                        </select>
                      </div>
                  </div>
              </tab>
            </tabset>
          </div>
          <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-sm btn-success" ng-click="addUnidadInformacion()" ng-disabled='form.$invalid'>Registrar</button>
                <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowregistro()">Cancelar</button>
              </div>

          </div>
          </form>
          <!-- / tab -->
            
        </div>
      </div>
      </div>
      <div class="panel panel-default" ng-show="editando">
        <div class="panel-heading font-bold">Editar Unidad de Informacion</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal ng-pristine ng-valid" name="formEdit" novalidate>
          <div class="row" ng-show="formEdit.$invalid">
            <div class="col-lg-6">
              <div class="m-b-md">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
              </div>
            </div>
          </div>
          <tabset class="tab-container">
              <tab ng-repeat = "subsistema in arraysSubsistemasEdit" heading="{{subsistema.nombre}}" >
                <div class="form-group" ng-repeat = "variable in subsistema.data">
                  <label class="col-lg-2 control-label ">{{variable.nombre}}</label>
                  <div class="col-lg-3">
                    <input type="text" class="form-control" ng-model="variable.valueSelected" ng-pattern="/^[0-9]{0,1}$/" />
                  </div>
                </div>
              </tab>
              <tab heading="Variables Independientes" >
                 <div class="form-group" ng-repeat="variable in listavariablesindependientesFocus">
                    <label class="col-lg-2 control-label ">{{variable.varind_nombre}}</label>
                    
                      <div class="col-lg-4">
                        <select ng-model="variable.valueSelected" class="form-control m-b" >
                          <option ng-repeat="var in variable.varind_valores track by $index" ng-selected="{{variable.value == var}}" 
                                  value="{{var}}">
                            {{var}}
                          </option>

                        </select>
                      </div>
                  </div>
              </tab>
            </tabset>
          
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-sm btn-success" ng-click="editUnidad()" ng-disabled='formEdit.$invalid'>Editar</button>
              <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowEdit()">Cancelar</button>
            </div>
          </div>
          </form>
        </div>

          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
