<div class="bg-light lter b-b wrapper-md">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Variables Independientes</h1>
          <small class="text-muted">Registrar</small>
        </div>
        <div class="col-sm-9 col-xs-12">
          <button class="btn btn-primary btn-addon btn-lg" ng-click="showregistro()" ><i class="fa fa-plus"></i>Nueva Variable Independiente</button>
        </div>
        
      </div>
    </div>
<div class ="wrapper-md ng-scope" ng-scope="VariableCtrl">

<div class ="col" >


<div class ="row">
  <div class="col-sm-12">
  <div class="panel panel-default" ng-show="!registro && !editando">
    <div class="panel-heading">
      Lista Variables Independientes
    </div>
    <div class="row wrapper">
      <div class="col-sm-3 m-b-xs">
              <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Buscar">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Ir!</button>
          </span>
        </div>          
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width:20px;">
              
            </th>
            <th>Descripcion</th>
            <th style="width:30px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="variable in listavariables">
            <td>
              <div class="btn-group dropdown">
                <button class="btn btn-info dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-arrow-right"> </i>
                  <span class="caret"></span>
                </button>
              <ul class="dropdown-menu">
                <li><a href="" ng-click="editar(variable)"><i class="icon-wrench" ></i> Editar</a></li>
                <li><a href="" ng-click="borrar(variable)"><i class="icon-close" ></i> Borrar</a></li>
              </ul>
             </div>
            </td>
            <td>{{ variable.varind_descripcion }}</td>
           
            <td>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        
        
        
      </div>
    </footer>
  </div>
        <div class="panel panel-default" ng-show="registro">
          <div class="panel-heading font-bold">Registro de Variable Independiente</div>
          <div class="panel-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid" name="form" novalidate>
              
              

            </form>
          </div>
        </div>

        <div class="panel panel-default" ng-show="editando">
          <div class="panel-heading font-bold">Edicion de Variable</div>
          <div class="panel-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid" name="formEdit" novalidate>
              
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>