<div class="bg-light lter b-b wrapper-md">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Módulos</h1>
          <small class="text-muted">Lista de módulos, Registrar, Editar y Eliminar</small>
        </div>
        <div class="col-sm-9 col-xs-12">
          <button class="btn btn-primary btn-addon btn-lg" ng-click="showregistro()" ><i class="fa fa-plus"></i>Nuevo Módulo</button>
        </div>
        
      </div>
    </div>
<div class ="wrapper-md ng-scope" ng-scope="ModulosCtrl">

<div class ="col" >
<div class ="row">
  <div class="col-sm-12">
  <div class="panel panel-default" ng-show="!registro && !editando">
    <div class="panel-heading">
      Lista Módulos
    </div>
    <div class="row wrapper">
      <div class="col-sm-3 m-b-xs">
              <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Buscar">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Ir!</button>
          </span>
        </div>          
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5">
        
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width:20px;">
              
            </th>
            <th>Nombre</th>
            <th>Sigla</th>
            <th>Variable 1</th>
            <th>Variable 2</th>
            <th>Variable 3</th>
            <th>Peso 1</th>
            <th>Peso 2</th>
            <th>Peso 3</th>
            <th style="width:30px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="modulo in listamodulos">
            <td>
              <div class="btn-group dropdown">
                <button class="btn btn-info dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                  <i class="icon-arrow-right"> </i>
                  <span class="caret"></span>
                </button>
              <ul class="dropdown-menu">
                <li><a href="" ng-click="editar(modulo)"><i class="icon-wrench" ></i> Editar</a></li>
                <li><a href="" ng-click="borrar(modulo)"><i class="icon-close" ></i> Borrar</a></li>
                <li class="divider"></li>
                <li><a href=""><i class="icon-users"></i> Colaboradores</a></li>
              </ul>
             </div>
            </td>
            <td>{{ modulo.mod_nombre }}</td>
            <td>{{ modulo.mod_sigla }}</td>
            <td>{{ modulo.mod_var1 }}</td>
            <td>{{ modulo.mod_var1 }}</td>
            <td>{{ modulo.mod_var3 }}</td>
            <td>{{ modulo.mod_peso }}</td>
            <td>{{ modulo.mod_peso2 }}</td>
            <td>{{ modulo.mod_peso3 }}</td>
            <td>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        
        
        
      </div>
    </footer>
  </div>
        <div class="panel panel-default" ng-show="registro">
          <div class="panel-heading font-bold">Registro de Módulo</div>
          <div class="panel-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid" name="form" novalidate>
              <div class="form-group">
                <label class="col-lg-2 control-label ">Nombre</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="nombre" placeholder="Ejem. Modulo" required>
                  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Sigla</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="sigla" name="siglas" ng-maxlength=2 placeholder="Ejem. P1" required>
                  <span class="error" ng-show="form.siglas.$error.maxlength">
                Las siglas del módulo solo pueden ser a lo mas dos caracteres!</span>
                </div>
              </div>
             <div class="form-group">
                <label class="col-lg-2 control-label ">Variable 1 </label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="var1" placeholder="Var1" required>
                  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label ">Variable 2</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="var2" placeholder="Var2" required>
                  
                </div>
              </div>
                 <div class="form-group">
                <label class="col-lg-2 control-label ">Variable 3</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="var3" placeholder="Var3" required>
                  
                </div>
              </div>


            <div class="form-group">
              <label class="col-sm-2 control-label">Peso 1</label>
              <div class="col-sm-10">
                <input id="slider" ui-jq="slider" ui-options="{
                  min: 0,
                  max: 1,
                  step: 0.1,
                  value: {{peso}}
                }" class="slider slider-horizontal form-control" type="text"> {{peso}}
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-2 control-label">Peso 2</label>
              <div class="col-sm-10">
                <input id="slider2" ui-jq="slider" ui-options="{
                  min: 0,
                  max: 1,
                  step: 0.1,
                  value: {{peso2}}
                }" class="slider slider-horizontal form-control" type="text"> {{peso2}}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Peso 2</label>
              <div class="col-sm-10">
                <input id="slider3" ui-jq="slider" ui-options="{
                  min: 0,
                  max: 1,
                  step: 0.1,
                  value: {{peso3}}
                }" class="slider slider-horizontal form-control" type="text"> {{peso3}}
              </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-sm btn-success" ng-click="addModulo()" ng-disabled='form.$invalid'>Registrar</button>
                   <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowregistro()">Cancelar</button>
                </div>
                
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default" ng-show="editando">
          <div class="panel-heading font-bold">Editar Módulo</div>
          <div class="panel-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid" name="formEdit" novalidate>
              <div class="form-group">
                <label class="col-lg-2 control-label ">Nombre</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="modulofocus.mod_nombre" placeholder="Ejem. Módulo" required>
                  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Sigla</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="modulofocus.mod_sigla" name="siglas" ng-maxlength=2 placeholder="Ejem. M1" required>
                  <span class="error" ng-show="form.siglas.$error.maxlength">
                Las siglas del módulo solo pueden ser a lo mas dos caracteres!</span>
                </div>
              </div>
              
               <div class="form-group">
                <label class="col-lg-2 control-label ">Variable 1 </label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="modulofocus.mod_var1" placeholder="Var1" required>
                  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label ">Variable 2</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="modulofocus.mod_var2" placeholder="Var2" required>
                  
                </div>
              </div>
                 <div class="form-group">
                <label class="col-lg-2 control-label ">Variable 3</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" ng-model="modulofocus.mod_var3" placeholder="Var3" required>
                  
                </div>
              </div>


              <div class="form-group">
              <label class="col-sm-2 control-label">Peso 1</label>
              <div class="col-sm-10 ng-binding">
              <div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 55%;"></div><div class="slider-handle min-slider-handle round" style="left: 55%;" tabindex="0"></div><div class="slider-handle max-slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: 55%; margin-left: -13.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">11</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input id="slider" ui-jq="slider" ui-options="{
              min: 0,
              max: 1,
              step: 0.1,
              value: 1
              }" class="slider slider-horizontal form-control" type="text" ></div> 1
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-2 control-label">Peso 2</label>
              <div class="col-sm-10 ng-binding">
              <div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 55%;"></div><div class="slider-handle min-slider-handle round" style="left: 55%;" tabindex="0"></div><div class="slider-handle max-slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: 55%; margin-left: -13.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">11</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input id="slider" ui-jq="slider" ui-options="{
              min: 0,
              max: 1,
              step: 0.1,
              value: 1
              }" class="slider slider-horizontal form-control" type="text" ></div> 1
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Peso 3</label>
              <div class="col-sm-10 ng-binding">
              <div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 55%;"></div><div class="slider-handle min-slider-handle round" style="left: 55%;" tabindex="0"></div><div class="slider-handle max-slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: 55%; margin-left: -13.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">11</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input id="slider" ui-jq="slider" ui-options="{
              min: 0,
              max: 1,
              step: 0.1,
              value: 1
              }" class="slider slider-horizontal form-control" type="text" ></div> 1
              </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-sm btn-success" ng-click="editModulo()" ng-disabled='form2.$invalid'>Editar</button>
                   <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowEdit()">Cancelar</button>
                </div>
                
              </div>     
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>