<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Módulos</h1>
      <small class="text-muted">Lista de módulos en SiAs</small>
    </div>
  </div>
</div>
<div class ="wrapper-md ng-scope" ng-scope="consultaModuloCtrl">
  <div class ="col" >
    <div class ="row">
      <div class="col-sm-12">
        <div class="panel panel-default" ng-show="!consultando">
          <div class="panel-heading">
            Lista Modulos
          </div>
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width:20px;">

                  </th>
                  <th>Nombre</th>
                  <th>Sigla </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th style="width:30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="modulo in listamodulos">
                  <td>
                   
                  </td>
                  <td>{{ modulo.mod_nombre }}</td>
                  <td>{{ modulo.mod_sigla }}</td>
                  <td><button class="btn btn-primary btn-addon" ng-click="variables(modulo)"><i class="fa fa-tasks"></i>variables</button></td>
                  <td><button class="btn btn-primary btn-addon" ng-click="consulta(modulo)"><i class="fa fa-tasks"></i>Consultar Informacion</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
            </div>
          </footer>
        </div>
        
      <div class="panel" ng-show="consultando">
          <div class="wrapper-lg">
            <h2 class="m-t-none" ng-bind='modulofocus.mod_nombre'></h2> 
            <p>Sigla: <small class="m-l-xxl" ng-bind='modulofocus.mod_sigla'></small></p>
            <div>
              <h3 ng-if="modulofocus.mod_descripcioncorta != null">Descripción Corta:</h3>
              <p ng-if="modulofocus.mod_descripcioncorta != null" ng-bind-html="getHtml(modulofocus.mod_descripcioncorta)">
              </p>
              <h3 ng-if="modulofocus.mod_descripcionlarga != null">Descripción Larga:</h3>
              <p ng-if="modulofocus.mod_descripcionlarga != null" ng-bind-html="getHtml(modulofocus.mod_descripcionlarga)">
              </p>
            </div>
            <div style="margin-top: 20px;">
              <button class="btn m-b-xs w-xs btn-dark" ng-click='cerrar()'>Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>