<div class="hbox hbox-auto-xs hbox-auto-sm">
<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Proyectos</h1>
      <small class="text-muted">Lista de proyectos, Registrar, Editar y Eliminar</small>
    </div>
    <div class="col-sm-9 col-xs-12">
      <button class="btn btn-primary btn-addon btn-lg" ng-click="showregistro()" ><i class="fa fa-plus"></i>Nuevo Proyecto</button>
    </div>
  </div>

</div>
<div class ="wrapper-md ng-scope" ng-scope="proyectoDescCtrl">
  <div class ="col-sm-12" >
    <div class ="row">
      <div class="col-sm-12">
        <div class="row" ng-if="listaproyectos.length == 0">
        <div class="col-lg-6">
          <div class="m-b-md">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
        </div>
      </div>
        <div class="panel panel-default" ng-show="!registro && !editando">
          <div class="panel-heading">
            Lista Proyectos
          </div>
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width:20px;">

                  </th>
                  <th>Nombre</th>
                  <th>Número de módulos</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th style="width:30px;"></th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="proyecto in listaproyectos">
                  <td>
                    <div class="btn-group dropdown">
                      <button class="btn btn-info dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-arrow-right"> </i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="" ng-click="editar(proyecto)"><i class="icon-wrench" ></i> Editar</a></li>
                        <li><a href="" ng-click="borrar(proyecto)"><i class="icon-close" ></i> Borrar</a></li>
                        <li><a href="" ng-click="pesos(proyecto)"><i class="icon-calculator" ></i> Pesos</a></li>
                        <li class="divider"></li>
                        <li><a href=""><i class="icon-users"></i> Colaboradores</a></li>
                      </ul>
                    </div>
                  </td>
                  <td>{{ proyecto.pro_nombre }}</td>
                  <td>{{ proyecto.pro_modulos }}</td>
                  <td><button class="btn btn-primary btn-addon" ng-click="subsistemas(proyecto)"><i class="fa fa-tasks"></i>Subsistemas</button></td>
                  <td><button class="btn btn-primary btn-addon" ng-click="variables(proyecto)"><i class="fa fa-tasks"></i>Variables independientes</button></td>
                  <td><button class="btn btn-primary btn-addon" ng-click="unidades(proyecto)"><i class="fa fa-tasks"></i>Unidades de informacion</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">
            </div>
          </footer>
        </div>
        <div class="panel panel-default" ng-show="registro">
          <div class="panel-heading font-bold">Registro de Proyecto</div>
          <div class="panel-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid" name="form" novalidate>
              <div class="form-group">
                <label class="col-lg-2 control-label ">Nombre*</label>
                <div class="col-lg-5">
                  <input type="text" class="form-control" ng-model="nombre" placeholder="Ejem. Mi proyecto" required>  
                </div>
              </div>
              <div class="form-group">
               <label class="col-lg-2 control-label">Número de módulos*</label>
               <div class="col-lg-10">
                <div class="radio">
                  <label class="i-checks">
                    <input type="radio" name="modulos" ng-model="modulos" value="1" required>
                    <i></i>
                    1
                  </label>
                </div>
                <div class="radio">
                  <label class="i-checks">
                    <input type="radio" name="modulos" ng-model="modulos" value="2" required>
                    <i></i>
                    2
                  </label>
                </div>
                <div class="radio">
                  <label class="i-checks">
                    <input type="radio" name="modulos" ng-model="modulos" value="3" required>
                    <i></i>
                    3
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-sm btn-success" ng-click="addProyecto()" ng-disabled='form.$invalid'>Registrar</button>
                <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowregistro()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default" ng-show="editando">
        <div class="panel-heading font-bold">Editar Proyecto</div>
        <div class="panel-body">
          <form class="bs-example form-horizontal ng-pristine ng-valid" name="formEdit" novalidate>
            <div class="form-group">
              <label class="col-lg-2 control-label ">Nombre*</label>
              <div class="col-lg-5">
                <input type="text" class="form-control" ng-model="proyectofocus.pro_nombre" placeholder="Ejem. Mi proyecto" required>
              </div>
            </div>
            <div class="form-group">
             <label class="col-lg-2 control-label">Número de módulos*</label>
             <div class="col-lg-10">
              <div class="radio">
                <label class="i-checks">
                  <input type="radio" name="modulos" ng-model="proyectofocus.pro_modulos" value="1" required>
                  <i></i>
                  1
                </label>
              </div>
              <div class="radio">
                <label class="i-checks">
                  <input type="radio" name="modulos" ng-model="proyectofocus.pro_modulos" value="2" required>
                  <i></i>
                  2
                </label>
              </div>
              <div class="radio">
                <label class="i-checks">
                  <input type="radio" name="modulos" ng-model="proyectofocus.pro_modulos" value="3" required>
                  <i></i>
                  3
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-sm btn-success" ng-click="editProyecto()" ng-disabled='form2.$invalid'>Editar</button>
              <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowEdit()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

</div>
<div class="col w-md bg-white-only b-l bg-auto no-border-xs">
    <tabset class="nav-tabs-alt" justified="true">
      
      <tab>
        <tab-heading>
          <i class="icon-share text-md text-muted wrapper-sm"></i>
        </tab-heading>
        <div class="wrapper-md">
          <div class="m-b-sm text-md">Estructura</div>
        </div>
        <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Jade"></abn-tree>
      </tab>
      
    </tabset>
  </div>
</div>
