<div class="hbox hbox-auto-xs hbox-auto-sm">
<div class="bg-light lter b-b wrapper-md">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <h1 class="m-n font-thin h3 text-black">Variable</h1>
      <small class="text-muted">Registrar</small>
    </div>
    <div ng-if='listavariables.length < 3'>
      <div class="col-sm-9 col-xs-12">
        <button class="btn btn-primary btn-addon btn-lg" ng-click="showregistro()" ><i class="fa fa-plus"></i>Nueva Variable</button>
      </div>
    </div>
  </div>
</div>
<div class ="wrapper-md ng-scope" ng-scope="VariableCtrl">
  <div class ="col-sm-12" >
    <div class ="row">
      <div class="col-sm-12">
      <div>
        <ul class="breadcrumb bg-white b-a">
          <li><a ui-sref="app.proyectoDesc()"><i class="fa fa-home"></i> Proyectos</a></li>
          <li ng-bind='siglasProyecto'></li>
          <li><a ui-sref="app.subsistemaDesc({idproyecto:idproyecto})"><i class="fa fa-home"></i> Subsistemas</a></li>
          <li ng-bind='siglasSubsistema'></li>
          <li><a ui-sref="app.modulosDesc({idproyecto:idproyecto, idsubsistema:idsubsistema})"><i class="fa fa-home"></i> Modulos</a></li>
          <li ng-bind='siglasModulo'></li>
          <li class="active">Variables</li>
        </ul>
      </div>
        <div class="panel panel-default" ng-show="!registro && !editando">
          <div class="panel-heading">
            Lista Variables
          </div>
          <div ng-if='listavariables.length == 0'>
            <span style="color:red;">No hay variables registradas</span>
          </div>
<!--           <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">
              <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Buscar">
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-default" type="button">Ir!</button>
                </span>
              </div>          
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-5">
            </div>
          </div> -->
          <div class="table-responsive">
            <table class="table table-striped b-t b-light">
              <thead>
                <tr>
                  <th style="width:20px;">

                  </th>
                  <th>Nombre</th>
                  <th>Sigla</th>
                  <th>Desc. Corta</th>
                  <th>Desc. Larga</th>
                  <th style="width:30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="variable in listavariables">
                  <td>
                    <div class="btn-group dropdown">
                      <button class="btn btn-info dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-arrow-right"> </i>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="" ng-click="editar(variable)"><i class="icon-wrench" ></i> Editar</a></li>
                        <li><a href="" ng-click="borrar(variable)"><i class="icon-close" ></i> Borrar</a></li>
                      </ul>
                    </div>
                  </td>
                  <td>{{ variable.var_nombre }}</td>
                  <td>{{ variable.var_sigla }}</td>
                  <td>{{ variable.var_descripcioncorta }}</td>
                  <td>{{ variable.var_descripcionlarga }}</td>
                  <td>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <div class="row">



            </div>
          </footer>
        </div>
        <div class="panel panel-default" ng-show="registro">
          <div class="panel-heading font-bold">Registro de Variable</div>
          <div class="panel-body">
            <form class="bs-example form-horizontal ng-pristine ng-valid" name="form" novalidate>
              <div class="form-group">
                <label class="col-lg-2 control-label ">Nombre*</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" ng-model="nombre" placeholder="Ejem. variable uno" required>
                  
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Sigla*</label>
                <div class="col-xs-2">
                  <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="sigla" name="siglas" ng-maxlength="2" placeholder="V1" required>
                  </div>
                  <span style="color:red;" class="error" ng-show="form.siglas.$error.maxlength">
                    Las siglas de la variable solo pueden ser a lo mas dos caracteres!</span>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tipo de Funcion*</label>
                  <div class="col-sm-10">
                    <div class="btn-group m-r ng-scope" >
                      <label class="btn btn-default ng-valid ng-dirty" ng-model="funcion" btn-radio="1" uncheckable="">Pesimista</label>
                      <label class="btn btn-default ng-valid ng-dirty active" ng-model="funcion" btn-radio="2" uncheckable="">Lineal</label>
                      <label class="btn btn-default ng-valid ng-dirty" ng-model="funcion" btn-radio="3" uncheckable="">Optimista</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Descripcion Corta*</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="descripcioncorta" name="descripcioncorta" ng-maxlength="15" required>
                  </div>
                    <span style="color:red;" class="error" ng-show="form.descripcioncorta.$error.maxlength">
                    Las descripcion corta solo pueden ser a lo mas 15 caracteres!</span>
                </div>  
                <div class="form-group">
                  <label class="col-sm-2 control-label">Descripcion Larga</label>
                  <div class="col-sm-10">
                    <div class="btn-toolbar m-b-sm btn-editor" data-role="editor-toolbar" data-target="#editor">
                      <div class="btn-group dropdown">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href dropdown-toggle data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li> 
                          <li><a href dropdown-toggle data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
                          <li><a href dropdown-toggle data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li></ul>
                        </div>
                        <div class="btn-group dropdown">
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href dropdown-toggle data-edit="fontSize 5" style="font-size:24px">Huge</a></li>
                            <li><a href dropdown-toggle data-edit="fontSize 3" style="font-size:18px">Normal</a></li>
                            <li><a href dropdown-toggle data-edit="fontSize 1" style="font-size:14px">Small</a></li>
                          </ul>
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default" data-edit="bold" tooltip="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                          <a class="btn btn-default" data-edit="italic" tooltip="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                          <a class="btn btn-default" data-edit="strikethrough" tooltip="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                          <a class="btn btn-default" data-edit="underline" tooltip="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default" data-edit="insertunorderedlist" tooltip="Bullet list"><i class="fa fa-list-ul"></i></a>
                          <a class="btn btn-default" data-edit="insertorderedlist" tooltip="Number list"><i class="fa fa-list-ol"></i></a>
                          <a class="btn btn-default" data-edit="outdent" tooltip="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                          <a class="btn btn-default" data-edit="indent" tooltip="Indent (Tab)"><i class="fa fa-indent"></i></a>
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default" data-edit="justifyleft" tooltip="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                          <a class="btn btn-default" data-edit="justifycenter" tooltip="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                          <a class="btn btn-default" data-edit="justifyright" tooltip="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                          <a class="btn btn-default" data-edit="justifyfull" tooltip="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                        </div>
                        <div class="btn-group dropdown">
                          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Hyperlink"><i class="fa fa-link"></i></a>
                          <div class="dropdown-menu">
                            <div class="input-group m-l-xs m-r-xs">
                              <input class="form-control input-sm" onclick="return false;" placeholder="URL" type="text" data-edit="createLink"/>
                              <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button">Add</button>
                              </div>
                            </div>
                          </div>
                          <a class="btn btn-default" data-edit="unlink" tooltip="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                        </div>

                        <div class="btn-group">
                          <a class="btn btn-default" tooltip="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                          <input type="file" data-edit="insertImage" style="position:absolute; opacity:0; width:41px; height:34px" />
                        </div>
                        <div class="btn-group">
                          <a class="btn btn-default" data-edit="undo" tooltip="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                          <a class="btn btn-default" data-edit="redo" tooltip="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                        </div>
                      </div>
                      <div ui-jq="wysiwyg" id="editor" textEditor class="form-control" style="overflow:scroll;height:200px;max-height:200px" ng-model="descripcionlarga" contenteditable>

                      </div>
                    </div>
                  </div>
                  <div class="line line-dashed b-b line-lg pull-in"></div>
                  <div class="col-lg-12">
                    <div class="col-lg-2"></div>
                    <h2 class="m-t-none"><a href="">Descripcion de Enunciados valorativos</a></h2>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Sujeto*</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="sujeto" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Verbo*</label>

                    <div class="col-lg-10">
                      <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="verbo" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Predicado*</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="predicado" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 1*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v1" required>
                    </div>

                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com1" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v1}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 2 *</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v2" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com2" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v2}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 3*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v3" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com3" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v3}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 4*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v4" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com4" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v4}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 5*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v5" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com5" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v5}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 6*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v6" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com6" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v6}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 7*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v7" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com7" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v7}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 8*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v8" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com8" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v8}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Adjetivo 9*</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control" ng-model="v9" required>
                    </div>
                    <label class="col-sm-1 control-label">Comentario</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" ng-model="com9" >
                    </div>
                    <div class="col-sm-12 col-md-offset-1">
                      <label class="col-md-6 col-md-offset-1"> {{sujeto}} {{verbo}} {{v9}} {{predicado}} </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-sm btn-success" ng-click="addVariable()" ng-disabled='form.$invalid'>Registrar</button>
                      <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowregistro()">Cancelar</button>
                    </div>

                  </div>

                </form>
              </div>
            </div>

            <div class="panel panel-default" ng-show="editando">
              <div class="panel-heading font-bold">Edicion de Variable</div>
              <div class="panel-body">
                <form class="bs-example form-horizontal ng-pristine ng-valid" name="formEdit" novalidate>
                  <div class="form-group">
                    <label class="col-lg-2 control-label ">Nombre*</label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" ng-model="variablefocus.var_nombre" placeholder="Ejem. variable uno" required>

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Sigla*</label>
                    <div class="col-xs-2">
                      <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="variablefocus.var_sigla" name="siglas" ng-maxlength="2" placeholder="V1" required>
                      
                      </div>
                      <span style="color:red;" class="error" ng-show="formEdit.siglas.$error.maxlength">
                        Las siglas del subsistema solo pueden ser a lo mas dos caracteres!</span>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Tipo de Funcion*</label>
                      <div class="col-sm-10">
                        <div class="btn-group m-r ng-scope">
                          <label class="btn btn-default ng-valid ng-dirty" ng-model="variablefocus.var_funcion" btn-radio="1" uncheckable="">Pesimista</label>
                          <label class="btn btn-default ng-valid ng-dirty active" ng-model="variablefocus.var_funcion" btn-radio="2" uncheckable="">Lineal</label>
                          <label class="btn btn-default ng-valid ng-dirty" ng-model="variablefocus.var_funcion" btn-radio="3" uncheckable="">Optimista</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label">Descripcion Corta*</label>
                      <div class="col-md-3">
                        <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="variablefocus.var_descripcioncorta" name="descripcioncorta" ng-maxlength="15" required>

                      </div>
                      <span style="color:red;" class="error" ng-show="formEdit.descripcioncorta.$error.maxlength">
                        La descripción corta sólo pueden ser a lo mas 15 caracteres!</span>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Descripcion Larga</label>
                      <div class="col-sm-10">
                        <div class="btn-toolbar m-b-sm btn-editor" data-role="editor2-toolbar" data-target="#editor2">
                          <div class="btn-group dropdown">
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><a href dropdown-toggle data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li> 
                              <li><a href dropdown-toggle data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
                              <li><a href dropdown-toggle data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li></ul>
                            </div>
                            <div class="btn-group dropdown">
                              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href dropdown-toggle data-edit="fontSize 5" style="font-size:24px">Huge</a></li>
                                <li><a href dropdown-toggle data-edit="fontSize 3" style="font-size:18px">Normal</a></li>
                                <li><a href dropdown-toggle data-edit="fontSize 1" style="font-size:14px">Small</a></li>
                              </ul>
                            </div>
                            <div class="btn-group">
                              <a class="btn btn-default" data-edit="bold" tooltip="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                              <a class="btn btn-default" data-edit="italic" tooltip="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                              <a class="btn btn-default" data-edit="strikethrough" tooltip="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                              <a class="btn btn-default" data-edit="underline" tooltip="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                            </div>
                            <div class="btn-group">
                              <a class="btn btn-default" data-edit="insertunorderedlist" tooltip="Bullet list"><i class="fa fa-list-ul"></i></a>
                              <a class="btn btn-default" data-edit="insertorderedlist" tooltip="Number list"><i class="fa fa-list-ol"></i></a>
                              <a class="btn btn-default" data-edit="outdent" tooltip="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                              <a class="btn btn-default" data-edit="indent" tooltip="Indent (Tab)"><i class="fa fa-indent"></i></a>
                            </div>
                            <div class="btn-group">
                              <a class="btn btn-default" data-edit="justifyleft" tooltip="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                              <a class="btn btn-default" data-edit="justifycenter" tooltip="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                              <a class="btn btn-default" data-edit="justifyright" tooltip="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                              <a class="btn btn-default" data-edit="justifyfull" tooltip="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                            </div>
                            <div class="btn-group dropdown">
                              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" tooltip="Hyperlink"><i class="fa fa-link"></i></a>
                              <div class="dropdown-menu">
                                <div class="input-group m-l-xs m-r-xs">
                                  <input class="form-control input-sm" onclick="return false;" placeholder="URL" type="text" data-edit="createLink"/>
                                  <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button">Add</button>
                                  </div>
                                </div>
                              </div>
                              <a class="btn btn-default" data-edit="unlink" tooltip="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                            </div>

                            <div class="btn-group">
                              <a class="btn btn-default" tooltip="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                              <input type="file" data-edit="insertImage" style="position:absolute; opacity:0; width:41px; height:34px" />
                            </div>
                            <div class="btn-group">
                              <a class="btn btn-default" data-edit="undo" tooltip="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                              <a class="btn btn-default" data-edit="redo" tooltip="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                            </div>
                          </div>
                          <div ui-jq="wysiwyg" id="editor2" textEditor ui-options="{toolbarSelector: '[data-role=editor2-toolbar]'}" class="form-control" style="overflow:scroll;height:200px;max-height:200px" ng-model="variablefocus.var_descripcionlarga" contenteditable>

                          </div>
                        </div>
                      </div>
                      <div class="line line-dashed b-b line-lg pull-in"></div>
                      <div class="col-lg-12">
                        <div class="col-lg-2"></div>
                        <h2 class="m-t-none"><a href="">Descripcion de Enunciados valorativos</a></h2>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Sujeto*</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="variablefocus.var_sujeto" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Verbo*</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="variablefocus.var_verbo" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label">Predicado*</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" ng-model="variablefocus.var_predicado" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 1*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val1" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com1" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val1}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 2* </label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val2" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com2" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val2}} {{variablefocus.var_predicado}} </label>
                
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 3*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val3" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com3" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val3}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 4*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val4" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com4" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val4}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 5*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val5" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com5">
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val5}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 6*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val6" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com6" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val6}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 7*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val7" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com7" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val7}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 8*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val8" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com8" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val8}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Adjetivo 9*</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" ng-model="variablefocus.var_val9" required>
                        </div>
                        <label class="col-sm-1 control-label">Comentario</label>
                        <div class="col-sm-7">
                          <input type="text" class="form-control" ng-model="variablefocus.var_com9" >
                        </div>
                        <div class="col-sm-12 col-md-offset-1">
                          <label class="col-md-6 col-md-offset-1"> {{variablefocus.var_sujeto}} {{variablefocus.var_verbo}} {{variablefocus.var_val9}} {{variablefocus.var_predicado}} </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <button type="submit" class="btn btn-sm btn-success" ng-click="editVariable()" ng-disabled='formEdit.$invalid'>Actualizar</button>
                          <button type="submit" class="btn btn-sm btn-danger" ng-click="notshowEdit()">Cancelar</button>
                        </div>

                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
          <tabset class="nav-tabs-alt" justified="true">
            
            <tab>
              <tab-heading>
                <i class="icon-share text-md text-muted wrapper-sm"></i>
              </tab-heading>
              <div class="wrapper-md">
                <div class="m-b-sm text-md">Estructura</div>
              </div>
              <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Jade"></abn-tree>
            </tab>
            
          </tabset>
        </div>
      </div>