<!-- first -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >Menú de Registros</span>
  </li>
  <li>
    <a ui-sref="app.proyectos" class="auto">      

      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" >Proyectos</span>
    </a>    
  </li>
    <li>
      <a ui-sref="app.variables" class="auto">      

        <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
        <span class="font-bold" >Variables</span>
      </a>      
    </li> 
  <li>
    <a ui-sref="app.modulos" class="auto">

      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Módulos</span>
    </a>
  </li>
  <li>
    <a ui-sref="app.subsistemas" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" >Subsistemas</span>
    </a>
  </li>
   <li>
    <a ui-sref="app.pesos" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" >Pesos</span>
    </a>
  </li>

<li>
  <a ui-sref="app.funciones" class="auto">      
    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
    <span class="font-bold" >Registro de Funciones</span>
  </a>
</li>
<li>
  <a ui-sref="app.vindependientes" class="auto">      
    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
    <span class="font-bold" >Variables Independientes</span>
  </a>
</li>
<li class="line dk hidden-folded"></li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span >Registro Descendente</span>
  </li>  

<li>
  <a ui-sref="app.proyectoDesc" class="auto">      
    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
    <span class="font-bold" >Proyectos</span>
  </a>
</li>
</ul>
<!-- / third -->