<!-- first -->
<ul class="nav">

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-show='user.per_tipo == 1 || user.per_tipo == 0'>
    <span >Menú de Registros</span>
  </li>
  <div ng-if='user.per_tipo == 0'>
    <li>
    <a ui-sref="app.funciones" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" >Registro de Funciones</span>
    </a>
  </li>
  </div>
  <div ng-if='user.per_tipo == 1 || user.per_tipo == 0'>
    <li>
  <a ui-sref="app.vindependientes" class="auto">      
    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
    <span class="font-bold" >Variables Independientes</span>
  </a>
</li>
<li class="line dk hidden-folded"></li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span >Registro Descendente</span>
  </li>  

<li>
  <a ui-sref="app.proyectoDesc" class="auto">      
    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
    <span class="font-bold" >Proyectos</span>
  </a>
</li>

  </div>

<div ng-if='user.per_tipo == 2 || user.per_tipo == 0'>
  <li class="line dk hidden-folded" ng-show='user.per_tipo == 0'></li>
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span >Consulta</span>
  </li>  

<li>
  <a ui-sref="app.consultaProyecto" class="auto">      
    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
    <span class="font-bold" >Consulta Proyectos</span>
  </a>
</li>
</div>

</ul>
<!-- / third -->