<!-- first -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span >Menu</span>
  </li>
  <li>
    <a ui-sref="app.dashboard-v1" class="auto">      
      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" >Proyectos</span>
    </a>
    
  </li>

  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span >Cosas personales</span>
  </li>  
  <li>
    <a ui-sref="app.page.profile">
    
      <i class="icon-user icon text-success-lter"></i>
      
      <span>Perfil <span class="label bg-warning pull-right">próx.</span></span>
      
    </a>
  </li>
  
</ul>
<!-- / third -->